{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container">
    
    

{% if not image_id %}
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-3">
                <label for="image_file" class="control-label">Choose an image file to analyze.</label>
            </div>
            <div class="col-md-3">
                <input type="file" name="image_file" id="image_file">
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-default" id="upload_image_button" formaction="{{ url_for('config') }}" value="Upload Image">
            </div>
        </div>
    </form>
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-6">
                <label for="image_file" class="control-label">Or try a random image from the test set.</label>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-default" id="random_image_button" formaction="{{ url_for('config') }}"
                 value="Random Image">
                 <input type="hidden" name="use_random_image" value="True">
            </div>
        </div>
    </form>
    <br/>
{% else %}
    <h2>Image to analyze</h2>

    <form action="{{ url_for('show_results') }}" class="form-horizontal" id="config_form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" name="image_id" value="{{ image_id }}">
            <div class="col-md-9">
                <img src="{{ url_for('uploaded_image', image_id=image_id) }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" class="btn btn-default" form="config_form" value="Generate text">
            </div>
        </div>
    </form>
{% endif %}
        
</div>
{% endblock %}
