<!doctype html>
<head>
    <title>img2txt</title>

    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1">
    {% block head %}
    {% endblock %}
</head>

<div class=header style="margin: 10px 10px 10px 10px;">
    <h1><code>img2txt</code></h1>
</div>

{% block body %}
{% endblock %}
